
.header-background-img{
  background-image: url("/assets/img/blue-dna-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  height: 200px;

  h1, h2, h3, h4, h5  {
    color: white;
  }
}
