<div class="header-background-img" fxLayout="row" fxLayoutAlign="start start">



  <!--mat-button -->
  <div  fxLayout="column" fxLayoutAlign="start start"   fxHide.gt-md    class="header-sidebar-btn-container">
    <a  routerLink="."  (click)="snav.open()"   > <mat-icon class="text-white">menu</mat-icon> </a>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="header-title-container" fxFlex.lt-lg="100%">
    

      <div  *ngIf=" (generalData?.labInfo?.logo  && generalData?.labInfo?.logo != ''); else labNameContainer "   >
        <div class="logo-container">
            <img   [src]=" imgUrl +  generalData?.labInfo?.logo " id="lab-logo" />
        </div>
      </div>

    <ng-template #labNameContainer>
      <div>
          <h2 >
              {{ generalData?.labInfo?.name ? generalData.labInfo.name : 'No data'}}
          </h2>
      </div>
        
    </ng-template>


    <!-- <div >

        <div *ngIf=" (generalData?.labInfo?.universityLogo != ''); else labNameContainer " class="logo-container">
            <img [src]=" imgUrl +  generalData?.labInfo?.universityLogo " id="university-logo" />
        </div>
    
          <ng-template #labNameContainer>
              <h3>
                  {{ generalData?.labInfo?.universityName ? generalData.labInfo.universityName : 'No data' }}
              </h3>
          </ng-template>

      
    </div> -->

  </div>
  
</div>
