<mat-sidenav-container>

  <mat-sidenav #snavAppComponent>
    <mat-nav-list>

      <a mat-list-item  routerLink="/home">Home</a>
      <a mat-list-item  routerLink="/members">Members</a>
      <a mat-list-item  routerLink="/projects">Projects</a>
      <a mat-list-item  routerLink="/publications">Publications</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header  [snav]="snavAppComponent"></app-header>
    <app-toolbar-horizontal  fxLayout="row" fxHide.md fxHide.sm fxHide.xs></app-toolbar-horizontal>


    <router-outlet></router-outlet>
  

    <div style="height: 500px"></div>

    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
